.increment-decrement{
    background-color: inherit;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.increment{
    right: 20px;
}

.decrement{
    left: 20px;
}

.incrementer-container{
    position: relative;
    display: flex;
    justify-content: center;
}

.icon{
    height: 80%;
}