@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    background-color: #F2FFFF;
    height: 100vh;
    font-family: "Inter", serif;
    font-weight: 700;
}

#root{
    height: 100%;
}

.submit-button, input{
    font-size: 1.5625rem;
}

.submit-button{
    border: 4px solid black;
    border-radius: 40px;
    background-color: #4BDCB0;
    min-width: 290px;
    padding: .5em;
    cursor: pointer;
    font-weight: inherit;
}

.submit-button:hover{
    background-color: #33c79a;
}

.submit-button:active{
    box-shadow: inset 0px 0px 20px black;
}

.layout, .trip-form{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.layout{
    height: 100%;
    justify-content: center;
}

.trip-form{
    max-width: 320px;
    margin-bottom: auto;
}

input{
    border: 4px solid black;
    border-radius: 40px;
    background-color: inherit;
    text-align: center;
    width: 85%;
    padding: .3em;
    font-weight: inherit;
}

input.traveller-input::-webkit-inner-spin-button{
    display: none;
}

label{
    font-size: 1.375rem;
}
